@model EFDbFirstApproach.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Delete Product</h2>

<form action="/products/delete/@Model.ProductID" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ProductName">Product Name</label>
            <input type="hidden" name="ProductID" value="@Model.ProductID" />
            @*<input type="text" class="form-control" id="ProductName" placeholder="Product Name" name="ProductName" value="@Model.ProductName">*@
            @Model.ProductName
        </div>
        <div class="form-group col-md-6">
            <label for="Price">Price</label>
            @*<input type="text" class="form-control" id="Price" placeholder="Price" name="Price" value="@Model.Price">*@
            @Model.Price
        </div>
    </div>
    <button type="submit" class="btn btn-success">Delete</button>
    <a class="btn btn-danger" href="/products/index">Cancel</a>
</form>